@{
    ViewData["Title"] = "Delete";
}
<div class="text-center">
    <h2 class="display-4">Удаление склада</h2>
</div>
<form method="post">
    <div class="row">
        <div class="row">
            <div class="col-4">Склад:</div>
            <div class="col-8">
                <select id="storePlaceId" name="storePlaceId" class="form-control" asp-items="@(new SelectList(@ViewBag.StorePlace,"Id", "StorePlaceName"))">
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-8">
                <input type="submit" value="Удалить" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>